@import url('https://fonts.googleapis.com/css?family=Nova+Slim');
body {
    background-color: #0b1521;
    color: #e5a10d;
    font-family: 'Nova Slim', cursive;
}

.navbar-default {
    background-color: #0b1521;
    position: relative;
}

.navbar-nav {
    padding: 2em;
}
.navbar-nav > li > a {
    color: #e5a10d;
}
.navbar-default .navbar-collapse > li > a {
    color: #e5a10d;
    font-size: 3vw;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a59635;
    transition: .5sec;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: #e5a10d;
    transition: .5sec;
}

.navbar-header {
    padding: 1.5em;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: -1.5em;
    padding: 0;
}

hr {
    height: 3px;
    background-color: #333;
    width: 100%;
}

.keterangan {
    max-width: 50%;
    text-align: center;
    padding: .5em;
    font-weight: 600;
    color: #fff;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    grid-gap: .5em;
    padding: 10px;
}

.grid-container > div {
    max-width: 50%;
    height: auto;
    padding: 1em;
}

.isi {
    border: 5px;
    background-color: rgb(192, 192, 192, .5);
    border-radius: 10px;
    padding: .5em;
    max-width: 100%;
    text-align: justify;
}
